thead {
    box-shadow: none;
}

tr td {
    color: #1f2c40;
}

.fc-event {
    border: none;
    margin: 0px 6px 4px 6px;
}

.fc-content {
    padding: 6px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fc-event.info {
    background-color: #d7f5fc;
    color: #03c3ec;
}

.form-check-label span.info,
.i-info {
    background-color: #03c3ec;
}

.form-check-label span.primary,
.i-primary {
    background-color: #696cff;
}

.form-check-label span.warning,
.i-warning {
    background-color: #ffbc33;
}

.form-check-label span.important,
.i-important {
    background-color: #ff3e1d;
}

.form-check-label span.success,
.i-success {
    background-color: #71dd37;
}

.form-check-label.check_color span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
}

.fc-event.primary {
    background-color: #e7e7ff;
    color: #696cff;
}

.fc-event.warning {
    background-color: #fff2d6;
    color: #ffbc33;
}

.fc-event.important {
    background-color: #ffe0db;
    color: #ff3e1d;
}

.fc-event.success {
    background-color: #e8fadf;
    color: #71dd37;
}

.form-check-input {
    border: none;
}

td.fc-day-top.fc-thu.fc-today .fc-day-number,
td.fc-day-top.fc-wed.fc-today .fc-day-number {
    background: red;
    color: white;
    border-radius: 50%;
    padding: 6px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    margin: 4px;
}

span.fc-day-number {
    margin: 4px;
}

td.fc-widget-header,
td.fc-list-item-title.fc-widget-content,
td.fc-list-item-marker.fc-widget-content,
td.fc-list-item-time.fc-widget-content {
    padding: 6px;
}

.fc-event,
.fc-event-dot {
    background-color: #ff3e1d;
}

.fc-unthemed td.fc-today {
    background: none !important;
}

.fc .fc-button-group > * {
    float: left;
    margin: 0 0 0 -1px;
    background: white;
    color: red;
    box-shadow: none;
    font-weight: 600;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled {
    background-color: #ffeded;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled:hover {
    background-color: red;
    opacity: 1;
    color: white;
}

button.fc-button.fc-corner-left.fc-corner-right.fc-state-default.fc-today-button {
    background: transparent;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right:hover,
button.fc-month-button.fc-button.fc-state-default.fc-corner-left.fc-state-active,
button.fc-agendaWeek-button.fc-button.fc-state-default.fc-state-active,
button.fc-agendaDay-button.fc-button.fc-state-default.fc-state-active,
button.fc-listWeek-button.fc-button.fc-state-default.fc-corner-right.fc-state-active {
    background: red;
    color: white;
    text-shadow: none;
    z-index: 0;
}

.fc-highlight {
    background: red;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled {
    background-color: white;
    color: red;
    font-weight: bold;
}
