* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebecf0;
}

div,
p {
    color: #babecc;
    text-shadow: 1px 1px 1px #fff;
}

.logo {
    background-image: url("../login1/logo.png");
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: 16px;
    box-shadow: 
    /* logo shadow */ 0px 0px 2px #5f5f5f,
        /* offset */ 0px 0px 0px 5px #ecf0f3,
        /*bottom right */ 8px 8px 15px #a7aaaf,
        /* top left */ -8px -8px 15px #ffffff;
}

p {
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
    font-style: 16px;
}

.login-form {
    width: 350px;
    height: auto;
}

.form-title {
    text-align: center;
    padding: 25px 0;
}

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

#input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -wekbkit-appearance: none;
}

button,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}

input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1xp 2px #fff;
}

button {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: 50px;
}

button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.red {
    display: block;
    width: 100%;
    color: #ae1100;
}

.social-media {
    padding: 25px 0;
    text-align: center;
}

.social-media .social-icons {
    border-radius: 8px;
    line-height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 18px;
}

.remember-me {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 10px;
}

.input-checkbox {
    display: none;
}

.form-check-input {
    padding: 0;
}

.form-check {
    display: -webkit-inline-box;
}

.radio-left {
    margin-right: 55px;
}

.label-checkbox {
    margin: 0;
    display: block;
    position: relative;
    padding-left: 6px;
    cursor: pointer;
    padding-top: 5px;
}

.thongbao {
    color: white;
    text-align: center;
    font-weight: bold;
    background: #ec3c3c;
    padding: 10px;
    border-radius: 10px;
}

.success {
    color: white;
    text-align: center;
    font-weight: bold;
    background: lightgreen;
    padding: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #ae1100;
    font-size: 20px;
}

h1 {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.txt1 {
    text-shadow: 1px 1px 1px #fff;
    font-weight: 800;
    font-style: 16px;
    color: #babecc;
}

.social-icons i {
    color: var(--icon-color);
}

#register {
    border-radius: 10px;
    width: 500px;
    justify-content: center;
    text-align: center;
    display: flex;
    padding-bottom: 40px;
    margin-top: 80px;
    margin-bottom: 20px;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
}

#login {
    border-radius: 10px;
    width: 500px;
    justify-content: center;
    display: flex;
    height: 620px;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
}

.alert-error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    height: fit-content;
}
