:root {
  --white-color: #fff;
  --black-color: #1f2c40;
  --primary-color: #202c40;
  --secondary-color: #e03116;
  --card-color: #ebecf0;
  --gray-color: #666666;
  --header-color: #202c40;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--black-color);
  background: #f9faff;
}

header {
  background: var(--header-color);
  transition: all 0.2s ease-in-out;
}

.banner {
  background: url("../images/banner.png");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 2px solid #4a5465;
  background-position: inherit;
}

.btn {
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  display: inline-flex;
  position: relative;
  align-items: center;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
  font-size: inherit;
}

.btn.btn-outline {
  border: 1px solid rebeccapurple;
  color: rebeccapurple;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.btn.btn-outline:hover {
  background: rgb(124, 73, 175);
  color: var(--white-color);
}

.outline-primary:hover {
  background: var(--secondary-color) !important;
  color: var(--white-color) !important;
  border: 1px solid var(--secondary-color) !important;
}

.btn-hover {
  color: var(--white-color);
  background-color: #c0392b;
  transition: 0.3s ease-in-out;
}

.btn-hover:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
}

/* .btn-hover::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #c0392b;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

.btn-hover:hover::before {
  width: 100%;
} */

.logo-header img,
.logo-footer img {
  max-width: 220px;
}

.offcanvas {
  max-width: 80%;
}

.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar button .icon-bar {
  color: var(--white-color);
}

.navbar-nav .nav-item:not(:last-child) {
  margin-right: 30px;
}

.navbar-nav .nav-item {
  font-weight: 600;
  margin: 10px 0;
}

.nav-item .nav-link {
  color: var(--white-color) !important;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:hover .fa-solid {
  color: var(--secondary-color) !important;
}

.offcanvas {
  background-color: var(--primary-color);
}

.banner .content {
  color: var(--white-color);
}

.text-justify {
  text-align: justify;
}

.banner .content h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

.experts .expert-item {
  margin: 18px;
}

.social-icons i {
  color: var(--icon-color);
}

.slick-prev,
.slick-next {
  background: none;
  font-size: 40px;
  color: red;
}

.experts .expert-item {
  background-color: #ffffff91;
  box-shadow: rgb(193 206 249) 0px 6px 20px 0px;
  border-radius: 12px;
  border: none;
  width: calc(300px - 36px);
}

.experts .expert-item .card-body .social-media {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.experts .expert-item .card-body .social-media .social-icons {
  border-radius: 8px;
  line-height: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 18px;
  padding: 16px;
}

.experts .expert-item .card-body .social-media a {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 50px;
}

.fa-paper-plane:hover {
  color: #fff;
}

.experts .expert-item .card-body .card-subtitle {
  color: var(--gray-color);
}

.experts .expert-item .card-body .social-media a:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.experts .expert-item .card-body .social-media a:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.experts .expert-item .card-body {
  color: var(--black-color);
}

.experts .expert-item .card-img-top {
  max-width: 200px;
  margin-top: 20px;
  height: 300px;
}

.card-social .card-link {
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
}

.list-news .new-item .card-body {
  text-align: justify;
}

.list-news .new-item {
  border-radius: 30px;
  padding: 0;
  border: none;
  box-shadow: rgb(193 206 249) 0px 6px 20px 0px;
}

.list-news .new-item {
  width: calc(32% - 20px);
  margin-left: 20px;
}

.list-news .new-item.item-tt {
  width: calc(25% - 20px);
  margin-left: 20px;
}

.line {
  background: rebeccapurple;
  width: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5px;
}

.time-left,
.time-right {
  box-shadow: rgb(193 206 249) 0px 6px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 25px;
}

.address .address-info, .booking {
  box-shadow: rgb(193 206 249) 0px 6px 20px 0px;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 20px;
}

.address .address-map iframe {
  border-radius: 20px;
}

.news-more a {
  color: red;
}

.list-news .new-item .card-body .card-link {
  color: red;
  display: block;
  text-align: center;
}

.list-news .new-item .card-body .card-title, .category-title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-news .new-item .card-body .card-subtitle, .category-subtitle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.experts .expert-item .card-body .card-title,
.experts .expert-item .card-body .card-subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f3dfec;
}
/* .category-title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.category-subtitle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
} */

.list-news .new-item .card-img-top {
  border-radius: 30px 30px 0 0;
  height: 250px;
}

.relative {
  position: relative;
}

.right-news {
  position: absolute;
  right: -70px;
  top: -100px;
  max-width: 400px;
  z-index: -1;
}

.partner .partner-list .partner-item {
  margin: 30px;
  width: fit-content !important;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  /* width: 126.77419354839px!important; */
  transition: opacity 1s;
}

.partner .partner-list .partner-item a img {
  height: 50px;
  filter: grayscale(100%);
}

.partner .partner-list .partner-item:hover {
  opacity: 1;
}

.partner .partner-list .partner-item:hover a img {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
}

.dropdown-menu.menu {
  position: absolute;
  inset: 0px 0px auto auto;
  margin-top: 20px;
  transform: translate3d(0.587509px, 33px, 0px);
}

.dropdown-menu.menu .dropdown-item:hover, .dropdown-item:active  {
  color: var(--secondary-color);
  background-color: rgb(221, 232, 234);
}

.users-left, 
.users-right {
  box-shadow: rgb(193 206 249) 0px 6px 20px 0px;
  border-radius: 12px;
  margin: 0 10px;
  transition: all 1.5s linear;
}

.users-left {
  animation: ltr .5s linear;
  z-index: 99;
}

.users-right {
  animation: rtl 1s linear;
  z-index: 2;
}

@keyframes ltr{
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rtl{
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.img-detail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.text-detail {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-align: justify;
  box-sizing: border-box;
  font-size: 18px;
}

.bg-none { 
  background: none;
}

.info-users .info-item {
  padding: 10px;
  cursor: pointer;
  width: 90%;
  font-weight: 600;
  margin: 20px 0;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid #e4ecec94;
}

.btn-edit-user {
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid var(--secondary-color);
  background: #dbe2ea2e;
}

.btn-edit-user:hover a {
  color: var(--secondary-color);
}

.info-users .info-item a {
  color: inherit;
  display: flex;
  align-items: center;
}

.info-users .info-item a i {
  font-size: 18px;
  margin-right: 8px;
}

.info-users .info-item.active {
  background: #dbe2ea2e;
  border-bottom: 3px solid var(--secondary-color);
}

.info-users .info-item:hover, .info-item.active i {
  color: var(--secondary-color);
}

.users-right .info-user-item {
  background: #e4ecec94;
  border-radius: 12px;
  width: calc(50% - 24px);
  margin: 12px;
}

.img-profile img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.users-right .info-user-item i {
  font-size: 18px;
}

.info-user-item .info-content p {
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.modal-content {
  background: var(--white-color);
  border-radius: 20px;
}

.modal-content i,
.modal-right h1 {
  color: rebeccapurple;
}

.label-modal-icon {
  padding: 68px;
  border: 2px dashed rebeccapurple;
  border-radius: 12px;
}

.img-mail {
  border-radius: 12px;
  width: 300px;
}

.info-user-item i,
.info-user-item .info-content label {
  color: #dc3545;
}

.w-fit-content {
  width: fit-content !important;
}

.time_down {
  box-shadow: rgb(206 212 234) 1px 0px 20px 0px;
  padding: 8px;
  border-radius: 12px;
  color: rebeccapurple;
  box-sizing: border-box;
  width: 46px;
  text-align: center;
}

.table {
  white-space: nowrap;
  box-shadow: 0 5px 10px lightblue;
  border-radius: 10px;
}

.table thead {
  box-shadow: 0 5px 10px lightblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: red;
}

.tbody {
  border: none !important;
}

.table th, .table td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

/* .table th:nth-child(2), .table td:nth-child(2) {
  position: sticky;
  left: 0;
  background: #f9faff;
} */

tbody, td, tfoot, th, thead, tr {
  border: none !important;
}

tbody tr:nth-child(even) {
  background: #ecf5f7;
}

/* custom scroll */
/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
/* ::-webkit-scrollbar-track {
background: rgb(228, 231, 231); 
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h4.card-title {
  height: 60px;
}

.text-reb {
  color: rebeccapurple;
}

.bb-line:not(:last-child) {
  border-bottom: 3px dashed lightgray;
}

.footer {
  background: url("../images/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-media {
  font-size: 1.6rem;
}

.icon-link {
  color: var(--secondary-color);
}

.icon-link:hover {
  color: var(--white-color);
}

.footer .infomation {
  color: var(--white-color);
}

.cusor-pointer {
  cursor: pointer;
}

@media screen and (min-width: 996px) and (max-width: 1440px) {
  .nav-menu {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-nav .nav-item:not(:last-child) {
    margin-right: 8px;
  }

  .experts {
    justify-content: center;
  }

  .btn-edit-user {
    width: 40%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .nav-menu {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 996px) {
  .offcanvas {
    font-size: 20px;
    padding-top: 20px;
  }

  .offcanvas .navbar-nav {
    align-items: start !important;
  }

  .banner .content h1 {
    font-size: 1.8rem;
  }

  .address {
    justify-content: around !important;
  }

  .address .address-info {
    margin-right: 0 !important;
  }

  .address .address-map {
    width: 60% !important;
  }

  .address .address-info {
    width: 40% !important;
  }

  .times .row {
    justify-content: center !important;
  }

  .time-left,
  .time-right {
    width: 80%;
    transition: all 0.5s ease;
  }

  .line {
    display: none;
  }

  .partner .partner-list .partner-item {
    margin: 20px !important;
  }

  .list-news .new-item.item-tt {
    width: calc(32% - 20px);
  }

  .form-booking {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .users-left {
    display: none;
  }

  .users-left.active {
    width: fit-content;
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    background: white;
    margin: 0;
    height: 100%;
    display: block;
    transition: all 0.2s ease-in-out;
    animation: ltr .5s linear;
  }

  .users-right {
    width: 90%;
  }

  .btn-toggle-profile {
    margin-right: auto;
    margin-left: 20px;
  }

  .modal-left,
  .modal-right {
    width: 100%;
  }

  .footer {
    height: 75vh !important;
  }
}

@media screen and (max-width: 768px) {
  .list-news .new-item .card-img-top {
    height: 200px;
  }
  
  .address {
    margin: auto;
  }

  .dropdown-menu.menu {
    top: 70%;
    transform: translateX(50%);
  }

  .address .address-info,
  .address .address-map {
    width: 100% !important;
  }

  .list-news .new-item {
    width: 100%;
  }
  
  .list-news .new-item.item-tt {
    width: calc(50% - 20px);
    margin: 0;
  }

  .img-line {
    max-width: 180px;
  }

  .right-news {
    display: none;
  }

  .list-news {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 60%;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .list-news::-webkit-scrollbar {
    display: none;
    /* width: 0; */
  }
  .list-news .new-item > * {
    scroll-snap-align: center;
    width: 100%;
  }

  .reason-list {
  display: grid !important;
  justify-content: flex-start !important;
  grid-auto-columns: 60%;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
  grid-template-columns: unset;
  }
  .reason-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .reason-list > *{
    scroll-snap-align: start;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .logo-footer img {
    max-width: 280px;
  }

  .footer {
    height: 90vh !important;
  }

  .infomation {
    flex: 0 0 auto;
    width: 100%;
  }

  .img-line {
    max-width: 130px;
  }

  .news-more a {
    font-size: 14px;
  }

  .list-news .new-item.item-tt {
    width: 90%;
    margin: auto;
    margin-bottom: 20px !important;
  }

  .booking .col-6 {
    width: 100% !important;
  }

  .users-right .info-user-item {
    width: 100%;
  }

  .btn-edit-user {
    width: 100%;
  }
}
