<div class="col-12 my-5">
  <h1 class="text-center py-5 fs-1 fw-bold">Thông tin phiếu khám</h1>
  <form action="" class="col-md-6 m-auto mb-5 form-booking">
      <div class="row booking m-auto">
          <div class="sophieu d-flex align-items-center justify-content-end">
          <h3 class="fw-bold fs-5 mt-2">Số phiếu:</h3>
          <span class="fw-bold fs-5 ms-2 text-dark">22</span>
          </div>
          <h3 class="fw-bold fs-3 mt-2">Thông tin bệnh nhân</h3>
          <div class="col-12 col-sm-6 my-2">
          <label for="hoten" class="form-label">Họ tên người khám</label>
          <input type="text" id="hoten" readonly class="form-control" name="hoten">
          </div>
          <div class="col-12 col-sm-6 my-2">
          <label for="email" class="form-label">Họ tên người thân</label>
          <input type="text" id="email" readonly class="form-control" name="email">
          </div>
          <div class="col-12 col-sm-6 my-2">
          <label for="sdt" class="form-label">Số điện thoại</label>
          <input type="text" id="sdt" readonly class="form-control" name="sdt">
          </div>
          <div class="col-12 col-sm-6 my-2">
          <label for="hoten" class="form-label">Cân nặng</label>
          <input type="text" id="hoten" readonly class="form-control" name="hoten">
          </div>
          <div class="col-12 col-sm-6 my-2">
          <label for="ngaysinh" class="form-label">Ngày sinh</label>
          <div class="d-flex align-items-center">
              <input type="date" id="ngaysinh" readonly class="form-control col-8 me-3" name="ngaysinh">
              <span>22 tuổi</span>
          </div>
          </div>
          <div class="col-12 col-sm-6 my-2">
          <label for="" class="form-label">Giới tính</label>
          <div class="form-check">
              <input type="radio" name="gt" id="gt" class="form-check-input" checked value="true">
              <label for="gt" class="form-check-label">Nam</label>
          </div>
          <div class="form-check">
              <input type="radio" name="gt" id="nam" class="form-check-input" value="false">
              <label for="nam" class="form-check-label">Nữ</label>
          </div>
          </div>
          <div class="col-12 my-2">
          <label for="hoten" class="form-label">Địa chỉ</label>
          <textarea name="" id="" rows="3" readonly class="form-control"></textarea>
          </div>
          <h3 class="fw-bold fs-3 mt-2">Thông tin khám</h3>
          <div class="col-12 my-2 d-flex justify-content-between">
          <p>
              <label for="hoten" class="form-label">Thời gian bắt đầu:</label>
              <span>10:00 AM</span>
          </p>
          <p>
              <label for="hoten" class="form-label">Thời gian kết thúc:</label>
              <span>10:30 AM</span>
          </p>
          </div>
          <div class="col-12 my-2">
          <label for="hoten" class="form-label">Triệu chứng</label>
          <textarea name="" id="" rows="3" class="form-control"></textarea>
          </div>
          <div class="col-12 my-2">
          <label for="hoten" class="form-label">Tiền sử bệnh</label>
          <textarea name="" id="" rows="3" class="form-control"></textarea>
          </div>
          <div class="col-12 my-2">
          <label for="hoten" class="form-label">Chuẩn đoán bệnh</label>
          <textarea name="" id="" rows="3" class="form-control"></textarea>
          </div>
          <div class="col-md-12 my-3">
          <button type="submit" class="btn btn-outline outline-primary m-auto d-block">
              <i class="uil uil-file-edit-alt"></i> Tạo đơn thuốc
          </button>
          </div>
      </div>
  </form>
</div>